In [11]:
import pandas as pd
import datetime

In [85]:
boulderdf = pd.read_csv("~/Developer/boulder/boulderdata.csv")

In [86]:
boulderdf.head()

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
0,regensburg,2020/10/29 17:00,68.0,0.0,7.42,Rain
1,muenchen-west,2020/10/29 17:00,27.0,0.0,9.09,Rain
2,frankfurt,2020/10/29 17:00,59.0,0.0,10.75,Rain
3,dortmund,2020/10/29 17:00,11.0,0.0,9.99,Rain
4,muenchen-ost,2020/10/29 17:00,100.0,14.0,9.09,Rain

In [87]:
boulderdf['current_time'] = pd.to_datetime(boulderdf['current_time'])

In [88]:
boulderdf.head(20)

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
0,regensburg,2020-10-29 17:00:00,68.0,0.0,7.42,Rain
1,muenchen-west,2020-10-29 17:00:00,27.0,0.0,9.09,Rain
2,frankfurt,2020-10-29 17:00:00,59.0,0.0,10.75,Rain
3,dortmund,2020-10-29 17:00:00,11.0,0.0,9.99,Rain
4,muenchen-ost,2020-10-29 17:00:00,100.0,14.0,9.09,Rain
5,muenchen-ost,2020-10-29 16:45:00,91.0,0.0,9.03,Rain
6,muenchen-west,2020-10-29 16:45:00,27.0,0.0,9.03,Rain
7,regensburg,2020-10-29 16:45:00,68.0,0.0,7.16,Rain
8,dortmund,2020-10-29 16:45:00,11.0,0.0,9.91,Rain
9,frankfurt,2020-10-29 16:45:00,50.0,0.0,10.75,Rain
10,muenchen-west,2020-10-29 15:00:00,27.0,0.0,9.36,Rain
11,regensburg,2020-10-29 15:00:00,68.0,0.0,7.84,Rain
12,muenchen-ost,2020-10-29 15:00:00,80.0,0.0,9.36,Rain
13,dortmund,2020-10-29 15:00:00,11.0,0.0,11.35,Rain
14,frankfurt,2020-10-29 15:00:00,22.0,0.0,10.79,Rain
15,muenchen-west,2020-10-28 20:00:00,32.0,0.0,9.19,Clouds
16,regensburg,2020-10-28 20:00:00,83.0,0.0,6.61,Mist
17,dortmund,2020-10-28 20:00:00,31.0,0.0,11.09,Rain
18,muenchen-ost,2020-10-28 20:00:00,100.0,8.0,9.19,Clouds
19,frankfurt,2020-10-28 20:00:00,27.0,0.0,12.58,Clouds

In [89]:
selected_date = datetime.date(2020, 10, 28).strftime("%Y-%m-%d")
selected_date

'2020-10-28'

In [90]:
testdf = boulderdf[boulderdf.current_time.astype(str).str.contains(selected_date)]
testdf.head(10)

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
15,muenchen-west,2020-10-28 20:00:00,32.0,0.0,9.19,Clouds
16,regensburg,2020-10-28 20:00:00,83.0,0.0,6.61,Mist
17,dortmund,2020-10-28 20:00:00,31.0,0.0,11.09,Rain
18,muenchen-ost,2020-10-28 20:00:00,100.0,8.0,9.19,Clouds
19,frankfurt,2020-10-28 20:00:00,27.0,0.0,12.58,Clouds
20,regensburg,2020-10-28 19:30:00,83.0,0.0,6.61,Clouds
21,muenchen-west,2020-10-28 19:30:00,32.0,0.0,9.38,Clouds
22,frankfurt,2020-10-28 19:30:00,27.0,0.0,12.53,Clear
23,muenchen-ost,2020-10-28 19:30:00,100.0,8.0,9.38,Clouds
24,dortmund,2020-10-28 19:30:00,31.0,0.0,11.35,Rain

In [91]:
testdf = testdf[testdf['gym_name'] == "muenchen-west"]
testdf
# should check for duplicates in the df!

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
15,muenchen-west,2020-10-28 20:00:00,32.0,0.0,9.19,Clouds
21,muenchen-west,2020-10-28 19:30:00,32.0,0.0,9.38,Clouds
29,muenchen-west,2020-10-28 16:00:00,32.0,0.0,11.84,Clouds
33,muenchen-west,2020-10-28 15:00:00,32.0,0.0,12.90,Clouds
204,muenchen-west,2020-10-28 16:00:00,32.0,0.0,11.84,Clouds
208,muenchen-west,2020-10-28 15:00:00,32.0,0.0,12.90,Clouds

In [92]:
yesterday = today - datetime.timedelta(days=1)
yesterday

datetime.date(2021, 4, 15)

In [95]:
# testdf['current_time'] = testdf['current_time'].astype(dt).dt.strftime('%H:%M')
testdf['current_time'] = pd.to_datetime(testdf['current_time']) #.dt.strftime('%H:%M')
testdf.drop(['gym_name'], inplace=True, axis=1)

# sort the data by time
testdf.sort_values(by=['current_time'], inplace=True)
testdf

           current_time  occupancy  waiting  weather_temp weather_status
33  2021-04-17 15:00:00       32.0      0.0         12.90         Clouds
208 2021-04-17 15:00:00       32.0      0.0         12.90         Clouds
29  2021-04-17 16:00:00       32.0      0.0         11.84         Clouds
204 2021-04-17 16:00:00       32.0      0.0         11.84         Clouds
21  2021-04-17 19:30:00       32.0      0.0          9.38         Clouds
15  2021-04-17 20:00:00       32.0      0.0          9.19         Clouds

In [99]:
# reset index if needed
testdf = testdf.drop([208])  # already did 204
testdf

          current_time  occupancy  waiting  weather_temp weather_status
33 2021-04-17 15:00:00       32.0      0.0         12.90         Clouds
29 2021-04-17 16:00:00       32.0      0.0         11.84         Clouds
21 2021-04-17 19:30:00       32.0      0.0          9.38         Clouds
15 2021-04-17 20:00:00       32.0      0.0          9.19         Clouds

In [103]:
len(boulderdf)

1984

In [117]:
# Select duplicate rows except first occurrence based on all columns
duplicateRowsDF = boulderdf[boulderdf.duplicated()]

print(len(duplicateRowsDF))
duplicateRowsDF.current_time.unique()

305

array(['2020-10-28T16:00:00.000000000', '2020-10-28T15:00:00.000000000',
       '2020-10-27T20:00:00.000000000', '2020-10-27T17:00:00.000000000',
       '2020-10-27T16:00:00.000000000', '2020-10-27T15:00:00.000000000',
       '2020-10-27T07:00:00.000000000', '2020-10-26T20:00:00.000000000',
       '2020-10-26T17:00:00.000000000', '2020-10-26T16:00:00.000000000',
       '2020-10-26T15:00:00.000000000', '2020-10-25T20:00:00.000000000',
       '2020-10-25T17:00:00.000000000', '2020-10-25T16:00:00.000000000',
       '2020-10-25T15:00:00.000000000', '2020-10-25T09:00:00.000000000',
       '2020-10-25T08:00:00.000000000', '2020-10-25T07:00:00.000000000',
       '2020-10-24T22:00:00.000000000', '2020-10-24T20:00:00.000000000',
       '2020-10-24T18:00:00.000000000', '2020-10-24T17:00:00.000000000',
       '2020-10-24T16:00:00.000000000', '2020-10-24T15:00:00.000000000',
       '2020-10-23T20:00:00.000000000', '2020-10-23T17:00:00.000000000',
       '2020-10-23T07:00:00.000000000', '2020-10-22T20:00:00.000000000',
       '2020-10-22T17:00:00.000000000', '2020-10-22T16:00:00.000000000',
       '2020-10-22T15:00:00.000000000', '2020-10-22T07:00:00.000000000',
       '2020-10-21T20:00:00.000000000', '2020-10-21T19:30:00.000000000',
       '2020-10-21T16:00:00.000000000', '2020-10-21T15:00:00.000000000',
       '2020-10-21T07:00:00.000000000'], dtype='datetime64[ns]')

In [111]:
duplicateRowsDF = boulderdf[boulderdf.duplicated(keep=False)] # show ALL rows
duplicateRowsDF.head()

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
25,dortmund,2020-10-28 16:00:00,31.0,0.0,13.17,Clouds
26,regensburg,2020-10-28 16:00:00,64.0,0.0,8.10,Clouds
27,muenchen-ost,2020-10-28 16:00:00,67.0,0.0,11.84,Clouds
28,frankfurt,2020-10-28 16:00:00,27.0,0.0,13.65,Clouds
29,muenchen-west,2020-10-28 16:00:00,32.0,0.0,11.84,Clouds
...,...,...,...,...,...,...
500,muenchen-west,2020-10-21 07:00:00,5.0,0.0,6.27,Clouds
501,regensburg,2020-10-21 07:00:00,66.0,0.0,6.07,Clouds
502,muenchen-ost,2020-10-21 07:00:00,33.0,0.0,6.27,Clouds
503,frankfurt,2020-10-21 07:00:00,7.0,0.0,10.87,Rain
504,dortmund,2020-10-21 07:00:00,49.0,0.0,12.14,Rain

- duplicates are rows: 200-504 (305 rows)  
- now if I show ALL rows that are duplicates, we have 480 rows

In [114]:
duplicateRowsDF.head(-305)

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
25,dortmund,2020-10-28 16:00:00,31.0,0.0,13.17,Clouds
26,regensburg,2020-10-28 16:00:00,64.0,0.0,8.10,Clouds
27,muenchen-ost,2020-10-28 16:00:00,67.0,0.0,11.84,Clouds
28,frankfurt,2020-10-28 16:00:00,27.0,0.0,13.65,Clouds
29,muenchen-west,2020-10-28 16:00:00,32.0,0.0,11.84,Clouds
...,...,...,...,...,...,...
195,muenchen-west,2020-10-21 07:00:00,5.0,0.0,6.27,Clouds
196,regensburg,2020-10-21 07:00:00,66.0,0.0,6.07,Clouds
197,muenchen-ost,2020-10-21 07:00:00,33.0,0.0,6.27,Clouds
198,frankfurt,2020-10-21 07:00:00,7.0,0.0,10.87,Rain
199,dortmund,2020-10-21 07:00:00,49.0,0.0,12.14,Rain

- Here we can see that rows 25-199 are the originals, and rows 200-504 are the duplicates

In [132]:
boulderdf = pd.read_csv("~/Developer/boulder/boulderdata.csv")
gym = "muenchen-west"
selected_date = datetime.date(2020, 10, 28).strftime("%Y-%m-%d")

boulderdf['current_time'] = pd.to_datetime(boulderdf['current_time'])
givendf = boulderdf[boulderdf.current_time.astype(str).str.contains(selected_date)]
givendf = givendf[givendf['gym_name'] == gym]

# transform date to hour and minute format
givendf['current_time'] = pd.to_datetime(givendf['current_time'])
givendf.drop(['gym_name'], inplace=True, axis=1)
givendf['current_time'] = givendf['current_time'].dt.strftime('%H:%M')

# sort the data by time
givendf.sort_values(by=['current_time'], inplace=True)
givendf.head()

    current_time  occupancy  waiting  weather_temp weather_status
33         15:00       32.0      0.0         12.90         Clouds
208        15:00       32.0      0.0         12.90         Clouds
29         16:00       32.0      0.0         11.84         Clouds
204        16:00       32.0      0.0         11.84         Clouds
21         19:30       32.0      0.0          9.38         Clouds

In [127]:
boulderdf = pd.read_csv("~/Developer/boulder/boulderdata.csv")
gym = "muenchen-west"
selected_date = datetime.date(2020, 10, 28).strftime("%Y-%m-%d")

boulderdf['current_time'] = pd.to_datetime(boulderdf['current_time'])
testdf = boulderdf[boulderdf.current_time.astype(str).str.contains(selected_date)]
testdf = testdf[testdf['gym_name'] == gym]

# testdf['current_time'] = testdf['current_time'].astype(dt).dt.strftime('%H:%M')
testdf['current_time'] = pd.to_datetime(testdf['current_time']) #.dt.strftime('%H:%M')
testdf.drop(['gym_name'], inplace=True, axis=1)
testdf['current_time'] = testdf['current_time'].dt.strftime('%H:%M')

# sort the data by time
testdf.sort_values(by=['current_time'], inplace=True)
testdf.head()

    current_time  occupancy  waiting  weather_temp weather_status
33         15:00       32.0      0.0         12.90         Clouds
208        15:00       32.0      0.0         12.90         Clouds
29         16:00       32.0      0.0         11.84         Clouds
204        16:00       32.0      0.0         11.84         Clouds
21         19:30       32.0      0.0          9.38         Clouds