In [2]:
import pandas as pd

In [3]:
boulder_data = pd.read_csv("~/Desktop/coding/boulder_data/boulderdata.csv")

In [4]:
boulder_data.head()

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
0,frankfurt,2020/10/29 18:31,61.0,0.0,10.95,Rain
1,muenchen-west,2020/10/29 18:31,27.0,0.0,9.22,Rain
2,muenchen-ost,2020/10/29 18:31,100.0,14.0,9.22,Rain
3,dortmund,2020/10/29 18:31,56.0,0.0,10.00,Rain
4,regensburg,2020/10/29 18:31,68.0,0.0,7.42,Rain

##  Delete rows at night (current_time before 7:00, and after 23:00)

In [5]:
boulder_data['current_time'].describe()

count                56784
unique               10867
top       2020/10/29 18:16
freq                    15
Name: current_time, dtype: object

In [6]:
boulder_data.head(100)

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
0,frankfurt,2020/10/29 18:31,61.0,0.0,10.95,Rain
1,muenchen-west,2020/10/29 18:31,27.0,0.0,9.22,Rain
2,muenchen-ost,2020/10/29 18:31,100.0,14.0,9.22,Rain
3,dortmund,2020/10/29 18:31,56.0,0.0,10.00,Rain
4,regensburg,2020/10/29 18:31,68.0,0.0,7.42,Rain
...,...,...,...,...,...,...
95,muenchen-ost,29/10/2020 16:31,91.0,0.0,8.97,Rain
96,muenchen-west,29/10/2020 16:31,27.0,0.0,8.97,Rain
97,frankfurt,29/10/2020 16:31,50.0,0.0,10.75,Rain
98,regensburg,29/10/2020 16:31,68.0,0.0,7.16,Rain
99,dortmund,29/10/2020 16:31,11.0,0.0,10.00,Rain

In [7]:
closed_times = ['23:', '00:', '01:', '02:', '03:', '04:', '05:', '06:']

for i in closed_times:
    boulder_data = boulder_data[~boulder_data.current_time.str.contains(i)]

In [8]:
boulder_data['current_time'].describe()

count                38587
unique                7377
top       2020/10/29 18:16
freq                    15
Name: current_time, dtype: object

##  Delete rows where minute is not in 00, 15, 30 or 45

In [9]:
boulder_data = boulder_data.loc[(boulder_data['current_time'].str.contains(":00")) | (boulder_data['current_time'].str.contains(":15")) | (boulder_data['current_time'].str.contains(":30")) | (boulder_data['current_time'].str.contains(":45"))]

In [10]:
boulder_data['current_time'].describe()

count                 1984
unique                 404
top       2020/10/22 15:00
freq                    10
Name: current_time, dtype: object

##  Convert ost and west from the old format to muenchen-ost, muenchen-west to new format

In [11]:
boulder_data['gym_name'].describe()

count         1984
unique           7
top       dortmund
freq           398
Name: gym_name, dtype: object

In [12]:
boulder_data.gym_name.unique()

array(['regensburg', 'muenchen-west', 'frankfurt', 'dortmund',
       'muenchen-ost', 'west', 'ost'], dtype=object)

In [13]:
boulder_data['gym_name'] = boulder_data['gym_name'].replace(['ost','west'],['muenchen-ost','muenchen-west'])

In [14]:
boulder_data.gym_name.unique()

array(['regensburg', 'muenchen-west', 'frankfurt', 'dortmund',
       'muenchen-ost'], dtype=object)

In [48]:
boulder_data.weather_status.unique()

array(['Rain', 'Clouds', 'Mist', 'Clear', 'Fog', 'Drizzle', 'Haze', nan],
      dtype=object)

##  Convert date format to: YYYY/MM/DD HH:MM (hint: datetime package in python)

In [15]:
# from row 97, the format is DD/MM/YYYY HH:MM
boulder_data["current_time"][9:11]

94     2020/10/29 16:45
125    29/10/2020 15:00
Name: current_time, dtype: object

In [16]:
from datetime import datetime

In [17]:
boulder_data = boulder_data.reset_index(drop=True)

In [18]:
# checking where the error was - it wasn't here
boulder_data["current_time"][23:35]

23    28/10/2020 19:30
24    28/10/2020 19:30
25    28/10/2020 16:00
26    28/10/2020 16:00
27    28/10/2020 16:00
28    28/10/2020 16:00
29    28/10/2020 16:00
30    28/10/2020 15:00
31    28/10/2020 15:00
32    28/10/2020 15:00
33    28/10/2020 15:00
34    28/10/2020 15:00
Name: current_time, dtype: object

In [19]:
# boulder_data.info()
# applied the below function to all rows [10:200] but the other rows were already in the correct format (but some dates coincide with other rows (e.g. 25-29 with 200-205))
# should check for duplicates
boulder_data["current_time"][10:200] = pd.to_datetime(boulder_data['current_time'][10:200], format='%d/%m/%Y %H:%M').dt.strftime('%Y-%m-%d %H:%M')

In [20]:
# checking the date is in the correct format
boulder_data["current_time"][24:31]

24    2020-10-28 19:30
25    2020-10-28 16:00
26    2020-10-28 16:00
27    2020-10-28 16:00
28    2020-10-28 16:00
29    2020-10-28 16:00
30    2020-10-28 15:00
Name: current_time, dtype: object

In [21]:
# checking where the error was
boulder_data.loc[boulder_data['current_time'] == '2020/10/28 15:00']

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
205,regensburg,2020/10/28 15:00,64.0,0.0,9.64,Clouds
206,dortmund,2020/10/28 15:00,31.0,0.0,13.79,Clouds
207,frankfurt,2020/10/28 15:00,27.0,0.0,14.39,Clouds
208,muenchen-west,2020/10/28 15:00,32.0,0.0,12.90,Clouds
209,muenchen-ost,2020/10/28 15:00,67.0,0.0,12.90,Clouds

## Use the CDS API and obtain the weather for the past dates

Exploring the data in the below 3 cells:
- figuring out how many cells don't have weather data
- figuring out how detailed the weather status values are
- figuring out which dates & times I should collect data for

In [46]:
boulder_data.loc[boulder_data['weather_temp'].isnull()]

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
1661,regensburg,2020/09/12 07:15,6.0,0.0,NaN,NaN
1662,muenchen-west,2020/09/12 07:15,23.0,0.0,NaN,NaN
1663,frankfurt,2020/09/12 07:15,11.0,0.0,NaN,NaN
1664,muenchen-ost,2020/09/12 07:15,30.0,0.0,NaN,NaN
1665,dortmund,2020/09/12 07:15,7.0,0.0,NaN,NaN
...,...,...,...,...,...,...
1979,frankfurt,2020/09/03 19:00,87.0,0.0,NaN,NaN
1980,dortmund,2020/09/03 19:00,47.0,0.0,NaN,NaN
1981,muenchen-ost,2020/09/03 19:00,95.0,0.0,NaN,NaN
1982,regensburg,2020/09/03 19:00,42.0,0.0,NaN,NaN
1983,muenchen-west,2020/09/03 19:00,61.0,0.0,NaN,NaN

In [47]:
boulder_data.weather_status.unique()

array(['Rain', 'Clouds', 'Mist', 'Clear', 'Fog', 'Drizzle', 'Haze', nan],
      dtype=object)

In [72]:
boulder_data.loc[1661:1984].current_time.unique()

array(['2020/09/12 07:15', '2020/09/12 07:00', '2020/09/11 22:00',
       '2020/09/11 21:45', '2020/09/11 20:00', '2020/09/11 19:30',
       '2020/09/11 17:00', '2020/09/11 16:00', '2020/09/11 07:15',
       '2020/09/11 07:00', '2020/09/10 22:00', '2020/09/10 20:00',
       '2020/09/10 19:30', '2020/09/10 19:00', '2020/09/10 18:45',
       '2020/09/10 17:00', '2020/09/10 14:00', '2020/09/10 07:00',
       '2020/09/09 20:00', '2020/09/09 19:30', '2020/09/09 17:45',
       '2020/09/09 17:00', '2020/09/09 16:00', '2020/09/09 14:00',
       '2020/09/08 20:00', '2020/09/08 19:30', '2020/09/08 19:00',
       '2020/09/08 17:00', '2020/09/08 16:00', '2020/09/08 07:00',
       '2020/09/07 22:30', '2020/09/07 21:45', '2020/09/07 20:00',
       '2020/09/07 19:30', '2020/09/07 19:00', '2020/09/07 17:00',
       '2020/09/07 16:00', '2020/09/07 14:00', '2020/09/07 07:00',
       '2020/09/06 20:00', '2020/09/06 19:30', '2020/09/06 19:00',
       '2020/09/06 18:00', '2020/09/06 17:00', '2020/09/06 16:00',
       '2020/09/06 15:15', '2020/09/06 14:45', '2020/09/06 14:00',
       '2020/09/06 12:45', '2020/09/06 10:45', '2020/09/06 09:30',
       '2020/09/06 07:15', '2020/09/06 07:00', '2020/09/05 20:00',
       '2020/09/05 19:30', '2020/09/05 19:00', '2020/09/05 18:45',
       '2020/09/05 17:45', '2020/09/05 17:00', '2020/09/05 16:00',
       '2020/09/05 14:45', '2020/09/05 14:15', '2020/09/05 14:00',
       '2020/09/05 13:45', '2020/09/05 13:30', '2020/09/05 10:15',
       '2020/09/05 09:45', '2020/09/05 07:00', '2020/09/04 20:00',
       '2020/09/04 19:30', '2020/09/04 19:00', '2020/09/04 17:00',
       '2020/09/04 15:00', '2020/09/04 14:00', '2020/09/04 07:00',
       '2020/09/03 20:00', '2020/09/03 19:30', '2020/09/03 19:00'],
      dtype=object)

In the below cells, I have used [this article](https://medium.com/analytics-vidhya/best-free-api-for-weather-records-era5-59c0e204829a) to download weather data and convert nc format to a pandas dataframe.

In [52]:
import cdsapi
import netCDF4
import numpy
from netCDF4 import num2date

from datetime import datetime, timedelta

In [53]:
def get_weather_data(year, month, day, area, time, 
                     file_location = 'weather_data.nc'
                    ):
    """
    Input:
        year, month, day, area, time, file_location: Strings
    Outputs:
        file_location: A string as in input
    """
    c = cdsapi.Client() 
    c.retrieve(
        'reanalysis-era5-single-levels',{
            'product_type':'reanalysis', # This is the dataset produced by the CDS
            'variable':['2m_temperature'],
            'year': year,
            'month': month,
            'day': day,
            'area': area,
            'time': time,
            'format':'netcdf' # The format we choose to use
        },
        file_location)
    return(file_location)



#The function opens the file in format “.nc” and returns a pandas dataframe with the value of temperature and datapoint.
def read_netcdf_file(file_location):
    f = netCDF4.Dataset(file_location) # This the python package I used to open the nc file
    t2m = f.variables['t2m'][:].flatten()
    time = f.variables['time'][:].flatten()
    start_time = datetime.strptime("01/01/1900 00:00", "%d/%m/%Y %H:%M")
    time_points = []
    for x in range(len(time)):
        hours_from_start_time = start_time + timedelta(hours=int(time.data[x]))
        time_points.append(hours_from_start_time)

    values = pd.DataFrame({
        "t2m" : [x-273.15 for x in t2m.data if x!= -32767], # As we said the values are in Kelvin, to convert in Celsius we have to subtract 273.15
        "time" : time_points
        })
    return(values)

Probably not the most efficient way to download data for several cities, but in the next 2 cells, I set the long & lat for the different locations, then download data for that location (for all 6 locations).

In [71]:
latitude  = "50.1109"  # frankfurt
longitude = "8.6821"  # frankfurt

In [60]:
file_location = get_weather_data(
	year  = "2020",
    
	# NB: Single digits days or months must have 0s in front or that will cause an error
	day   = ['03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
	month = "09",
    
	# The ERA5 accept rectangular shape grid as a searching areas
	# but we can use also input a point with this system:ß
	area  = latitude +'/'+ longitude +'/'+ latitude +'/'+ longitude,
    
	# We can request all 24 hours of the day. The only accepted format are listed here:
	time  = ['07:00', '09:00', '10:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00'],
	file_location = 'frankfurt_test.nc')

2020-11-17 08:36:41,133 INFO Welcome to the CDS
2020-11-17 08:36:41,135 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2020-11-17 08:36:41,318 INFO Request is queued
2020-11-17 08:36:42,338 INFO Request is running
2020-11-17 08:36:46,126 INFO Request is completed
2020-11-17 08:36:46,128 INFO Downloading http://136.156.132.236/cache-compute-0007/cache/data9/adaptor.mars.internal-1605602201.5037096-32354-23-fc6e5845-026b-403e-b38d-5431457821fc.nc to frankfurt_test.nc (1K)
2020-11-17 08:36:46,607 INFO Download rate 2.2K/s

The below cell, I am saving the nc files for all the locations to different pandas dataframes.
I will save muenchen-west and muenchen-ost to the same nc file so I am able to add to the main boulder_data dataframe.

In [62]:
weather_data = read_netcdf_file('frankfurt_test.nc')
# This is the results:
print(weather_data)

         t2m                time
0  13.452051 2020-10-28 15:00:00