In [1]:
import pandas as pd

In [2]:
boulder_data = pd.read_csv("~/Desktop/coding/boulder_data/boulderdata.csv")

In [3]:
boulder_data.head()

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
0,frankfurt,2020/10/29 18:31,61.0,0.0,10.95,Rain
1,muenchen-west,2020/10/29 18:31,27.0,0.0,9.22,Rain
2,muenchen-ost,2020/10/29 18:31,100.0,14.0,9.22,Rain
3,dortmund,2020/10/29 18:31,56.0,0.0,10.00,Rain
4,regensburg,2020/10/29 18:31,68.0,0.0,7.42,Rain

##  Delete rows at night (current_time before 7:00, and after 23:00)

In [4]:
boulder_data['current_time'].describe()

count                56784
unique               10867
top       2020/10/29 18:01
freq                    15
Name: current_time, dtype: object

In [5]:
boulder_data.head(100)

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
0,frankfurt,2020/10/29 18:31,61.0,0.0,10.95,Rain
1,muenchen-west,2020/10/29 18:31,27.0,0.0,9.22,Rain
2,muenchen-ost,2020/10/29 18:31,100.0,14.0,9.22,Rain
3,dortmund,2020/10/29 18:31,56.0,0.0,10.00,Rain
4,regensburg,2020/10/29 18:31,68.0,0.0,7.42,Rain
...,...,...,...,...,...,...
95,muenchen-ost,29/10/2020 16:31,91.0,0.0,8.97,Rain
96,muenchen-west,29/10/2020 16:31,27.0,0.0,8.97,Rain
97,frankfurt,29/10/2020 16:31,50.0,0.0,10.75,Rain
98,regensburg,29/10/2020 16:31,68.0,0.0,7.16,Rain
99,dortmund,29/10/2020 16:31,11.0,0.0,10.00,Rain

In [6]:
closed_times = ['23:', '00:', '01:', '02:', '03:', '04:', '05:', '06:']

for i in closed_times:
    boulder_data = boulder_data[~boulder_data.current_time.str.contains(i)]

In [7]:
boulder_data['current_time'].describe()

count                38587
unique                7377
top       2020/10/29 18:16
freq                    15
Name: current_time, dtype: object

##  Delete rows where minute is not in 00, 15, 30 or 45

In [12]:
boulder_data = boulder_data.loc[(boulder_data['current_time'].str.contains(":00")) | (boulder_data['current_time'].str.contains(":15")) | (boulder_data['current_time'].str.contains(":30")) | (boulder_data['current_time'].str.contains(":45"))]

In [14]:
boulder_data['current_time'].describe()

count                 1984
unique                 404
top       2020/10/22 07:00
freq                    10
Name: current_time, dtype: object

##  Convert ost and west from the old format to muenchen-ost, muenchen-west to new format

In [16]:
boulder_data['gym_name'].describe()

count         1984
unique           7
top       dortmund
freq           398
Name: gym_name, dtype: object

In [17]:
boulder_data.gym_name.unique()

array(['regensburg', 'muenchen-west', 'frankfurt', 'dortmund',
       'muenchen-ost', 'west', 'ost'], dtype=object)

In [18]:
boulder_data['gym_name'] = boulder_data['gym_name'].replace(['ost','west'],['muenchen-ost','muenchen-west'])

In [19]:
boulder_data.gym_name.unique()

array(['regensburg', 'muenchen-west', 'frankfurt', 'dortmund',
       'muenchen-ost'], dtype=object)