In [2]:
import pandas as pd

In [3]:
boulder_data = pd.read_csv("~/Desktop/coding/boulder_data/boulderdata.csv")

In [4]:
boulder_data.head()

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
0,frankfurt,2020/10/29 18:31,61.0,0.0,10.95,Rain
1,muenchen-west,2020/10/29 18:31,27.0,0.0,9.22,Rain
2,muenchen-ost,2020/10/29 18:31,100.0,14.0,9.22,Rain
3,dortmund,2020/10/29 18:31,56.0,0.0,10.00,Rain
4,regensburg,2020/10/29 18:31,68.0,0.0,7.42,Rain

##  Delete rows at night (current_time before 7:00, and after 23:00)

In [5]:
boulder_data['current_time'].describe()

count                56784
unique               10867
top       2020/10/29 18:16
freq                    15
Name: current_time, dtype: object

In [6]:
boulder_data.head(100)

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
0,frankfurt,2020/10/29 18:31,61.0,0.0,10.95,Rain
1,muenchen-west,2020/10/29 18:31,27.0,0.0,9.22,Rain
2,muenchen-ost,2020/10/29 18:31,100.0,14.0,9.22,Rain
3,dortmund,2020/10/29 18:31,56.0,0.0,10.00,Rain
4,regensburg,2020/10/29 18:31,68.0,0.0,7.42,Rain
...,...,...,...,...,...,...
95,muenchen-ost,29/10/2020 16:31,91.0,0.0,8.97,Rain
96,muenchen-west,29/10/2020 16:31,27.0,0.0,8.97,Rain
97,frankfurt,29/10/2020 16:31,50.0,0.0,10.75,Rain
98,regensburg,29/10/2020 16:31,68.0,0.0,7.16,Rain
99,dortmund,29/10/2020 16:31,11.0,0.0,10.00,Rain

In [7]:
closed_times = ['23:', '00:', '01:', '02:', '03:', '04:', '05:', '06:']

for i in closed_times:
    boulder_data = boulder_data[~boulder_data.current_time.str.contains(i)]

In [8]:
boulder_data['current_time'].describe()

count                38587
unique                7377
top       2020/10/29 18:16
freq                    15
Name: current_time, dtype: object

##  Delete rows where minute is not in 00, 15, 30 or 45

In [9]:
boulder_data = boulder_data.loc[(boulder_data['current_time'].str.contains(":00")) | (boulder_data['current_time'].str.contains(":15")) | (boulder_data['current_time'].str.contains(":30")) | (boulder_data['current_time'].str.contains(":45"))]

In [10]:
boulder_data['current_time'].describe()

count                 1984
unique                 404
top       2020/10/22 15:00
freq                    10
Name: current_time, dtype: object

##  Convert ost and west from the old format to muenchen-ost, muenchen-west to new format

In [11]:
boulder_data['gym_name'].describe()

count         1984
unique           7
top       dortmund
freq           398
Name: gym_name, dtype: object

In [12]:
boulder_data.gym_name.unique()

array(['regensburg', 'muenchen-west', 'frankfurt', 'dortmund',
       'muenchen-ost', 'west', 'ost'], dtype=object)

In [13]:
boulder_data['gym_name'] = boulder_data['gym_name'].replace(['ost','west'],['muenchen-ost','muenchen-west'])

In [14]:
boulder_data.gym_name.unique()

array(['regensburg', 'muenchen-west', 'frankfurt', 'dortmund',
       'muenchen-ost'], dtype=object)

##  Convert date format to: YYYY/MM/DD HH:MM (hint: datetime package in python)

In [15]:
# from row 97, the format is DD/MM/YYYY HH:MM
boulder_data["current_time"][9:11]

94     2020/10/29 16:45
125    29/10/2020 15:00
Name: current_time, dtype: object

In [16]:
from datetime import datetime

In [17]:
boulder_data = boulder_data.reset_index(drop=True)

In [18]:
# checking where the error was - it wasn't here
boulder_data["current_time"][23:35]

23    28/10/2020 19:30
24    28/10/2020 19:30
25    28/10/2020 16:00
26    28/10/2020 16:00
27    28/10/2020 16:00
28    28/10/2020 16:00
29    28/10/2020 16:00
30    28/10/2020 15:00
31    28/10/2020 15:00
32    28/10/2020 15:00
33    28/10/2020 15:00
34    28/10/2020 15:00
Name: current_time, dtype: object

In [19]:
# boulder_data.info()
# applied the below function to all rows [10:200] but the other rows were already in the correct format (but some dates coincide with other rows (e.g. 25-29 with 200-205))
# should check for duplicates
boulder_data["current_time"][10:200] = pd.to_datetime(boulder_data['current_time'][10:200], format='%d/%m/%Y %H:%M').dt.strftime('%Y-%m-%d %H:%M')

In [20]:
# checking the date is in the correct format
boulder_data["current_time"][24:31]

24    2020-10-28 19:30
25    2020-10-28 16:00
26    2020-10-28 16:00
27    2020-10-28 16:00
28    2020-10-28 16:00
29    2020-10-28 16:00
30    2020-10-28 15:00
Name: current_time, dtype: object

In [21]:
# checking where the error was
boulder_data.loc[boulder_data['current_time'] == '2020/10/28 15:00']

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
205,regensburg,2020/10/28 15:00,64.0,0.0,9.64,Clouds
206,dortmund,2020/10/28 15:00,31.0,0.0,13.79,Clouds
207,frankfurt,2020/10/28 15:00,27.0,0.0,14.39,Clouds
208,muenchen-west,2020/10/28 15:00,32.0,0.0,12.90,Clouds
209,muenchen-ost,2020/10/28 15:00,67.0,0.0,12.90,Clouds

## Use the PyOWM API and obtain the weather for the past dates

In [46]:
boulder_data.loc[boulder_data['weather_temp'].isnull()]

,gym_name,current_time,occupancy,waiting,weather_temp,weather_status
1661,regensburg,2020/09/12 07:15,6.0,0.0,NaN,NaN
1662,muenchen-west,2020/09/12 07:15,23.0,0.0,NaN,NaN
1663,frankfurt,2020/09/12 07:15,11.0,0.0,NaN,NaN
1664,muenchen-ost,2020/09/12 07:15,30.0,0.0,NaN,NaN
1665,dortmund,2020/09/12 07:15,7.0,0.0,NaN,NaN
...,...,...,...,...,...,...
1979,frankfurt,2020/09/03 19:00,87.0,0.0,NaN,NaN
1980,dortmund,2020/09/03 19:00,47.0,0.0,NaN,NaN
1981,muenchen-ost,2020/09/03 19:00,95.0,0.0,NaN,NaN
1982,regensburg,2020/09/03 19:00,42.0,0.0,NaN,NaN
1983,muenchen-west,2020/09/03 19:00,61.0,0.0,NaN,NaN